

<div class="container">
  <div class="row">
    <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
  </div>
</div>

<div class="container">
<ul>
  <div *ngFor='let quote of quotes;let i = index'>
    <div class="tabs">
  <div class="row">
  <div class="col-md-0">
</div>

<div class="col-md-12">
    <li id="{{i}}">{{quote.name}}</li>
    <app-quote-details [quote]='quote'></app-quote-details>
    <app-quote-details *ngIf="quote.showDescription" [quote]='quote' (isComplete)= 'deleteQuote($event,i)' ></app-quote-details>
</div>
</div>
</div>
  </div>
</ul>
</div>
